body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.center {
    display: flex;
    /*background: aqua;*/
    flex-direction: column;
    flex: 100;
    align-items: center;
    justify-content: center;
}

.column {
    /*background: grey;*/
    display: inline-flex;
    flex: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#count {
    font-size: 32px;
}

#button {
    font-size: 32px;
    width: 90px;
    height: 50px;
}