body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.column {
    display: flex;
    flex: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#count {
    font-size: 32px;
}

#button {
    font-size: 32px;
    width: 90px;
    height: 50px;
}